.fa-star {
  margin-top: 8px;
  width: 23px;
  color: gray;
  cursor: pointer;
}

.checked {
  color: orange;
}

.hovered {
  filter: brightness(0.7);
}

.fa {
  font-size: 20px;
}

.stars-error {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
  color: rgb(100, 0, 0);
}
